.footers {
  background-color: lightgrey;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
