hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

html, body {
  background: #e0e0e0;
}

section {
  max-width: 500px;
  text-align: center;
  margin:0 auto;
}

.middle {
  max-width: 500px;
  width: 85%;
  text-align: center;
  margin:0 auto;
}
.lobster {
  font-family: 'Lobster', cursive;
  font-size: 750%;
  background-color: #1F487E;
  color: white;
}
